* {
  font-family: 'Pontano Sans', sans-serif;
}

/* #region Main Components */
#main-title {
  font-size: 64px;
  margin-left: -25%;
  border-left: 4px solid transparent;
  border-bottom: 4px solid currentColor;
}
#title-container {
  background: url('/pictures/P1060040.jpg');
  padding: 2em;
  background-size: cover;
}
/* #endregion*/

/* #region Layout classes */
.fill-page {
  height: 100vh;
}
.fill-point-container {
  height: calc(100vh - 4em);
}

.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.fx-center {
  justify-content: center;
}
/* #endregion */