/* Color Theme Swatches in Hex */
.Abandoned-steets-in-the-city-1-hex { color: #515932; }
.Abandoned-steets-in-the-city-2-hex { color: #D9C99A; }
.Abandoned-steets-in-the-city-3-hex { color: #40342A; }
.Abandoned-steets-in-the-city-4-hex { color: #D9593D; }
.Abandoned-steets-in-the-city-5-hex { color: #F22F1D; }

/* Color Theme Swatches in RGBA */
.Abandoned-steets-in-the-city-1-rgba { color: rgba(80, 89, 49, 1); }
.Abandoned-steets-in-the-city-2-rgba { color: rgba(216, 201, 153, 1); }
.Abandoned-steets-in-the-city-3-rgba { color: rgba(63, 52, 42, 1); }
.Abandoned-steets-in-the-city-4-rgba { color: rgba(216, 89, 60, 1); }
.Abandoned-steets-in-the-city-5-rgba { color: rgba(242, 46, 29, 1); }

.stylised {
    font-family: 'Neucha', cursive;
}