/* Overall container */
.yks-nav-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: rgba(63, 52, 42, 1);
  background-image: radial-gradient(rgba(13, 12, 12, 1) 30%, transparent 0),
    radial-gradient(rgba(13, 12, 12, 1) 30%, transparent 0);
  background-size: 10px 10px;
  /*background: #D9C99A;
    background-image:
        radial-gradient(rgba(200, 185, 137, 1) 30%, transparent 0),
        radial-gradient(rgba(200, 185, 137, 1) 30%, transparent 0);
    background-size: 10px 10px;*/
  background-position: 0 0, 15px 15px;
  box-shadow: 0 0 10px 5px inset rgba(0, 0, 0, 0.2);
}
.yks-nav-container:after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}

/* The navigation bar on the right*/
.yks-nav-points-container {
  border-radius: 0px;
  height: calc(100% - 32px);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 1em;
  z-index: 999;
}

/* Give navigation a solid color in mobile mode. */
/* TODO use a better method to change the opacity. */
@media all and (max-width: 600px) {
  .yks-nav-points-container {
    background-color: rgb(0,0,0);
  }
}

/* Add navigation opening animation only on desktop */
@media all and (min-width: 600px) {
  .yks-nav-points-container.open {
    animation-name: animateNav;
    animation-duration: 0.5s;
    -webkit-animation-name: animateNav; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  }
}

.yks-nav-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.yks-nav-point {
  width: 100%;
  margin: 8px 0;
  font-size: 24px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid currentColor;
}
.yks-nav-point:focus {
  outline: none;
}

/* Lines between the Navigation Points */
.yks-nav-point:not(:first-child):not(:nth-child(2)):before {
  content: "";
  display: block;
  position: relative;
  background-color: currentColor;
  opacity: 0.6;
  height: 52px;
  width: 2px;
  margin: 0 auto;
}

/* #region Toggle Button */
.yks-nav-toggle-btn {
  top: 2em;
  position: fixed;
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 4em;
  cursor: pointer;
  /* for active*/
  /*background-image: linear-gradient(
    130deg,
    rgba(242, 46, 29, 0.7) 1%,
    rgba(216, 89, 60, 0.7) 70%,
    rgba(80, 89, 49, 1)),
    linear-gradient(
    100deg,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 0) 70%,
    rgba(80, 89, 49, 1)
  );*/

  /* for inactive*/
  background-color: rgba(216, 89, 60, 0.7);
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.yks-nav-toggle-btn svg {
  margin: auto;
  fill: #d9c99a;
}
/* #endregion */

/* #region Closed State */
.yks-nav-points-container.closed {
  background: none;
  box-shadow: none;
}
.yks-nav-point.closed {
  visibility: hidden;
}
.yks-nav-toggle-btn.closed {
  background-image: linear-gradient(
      145deg,
      rgba(242, 46, 29, 0.7) 20%,
      rgba(216, 89, 60, 0.7) 70%,
      rgba(80, 89, 49, 1)
    ),
    linear-gradient(
      100deg,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0) 70%,
      rgba(80, 89, 49, 1)
    );
}
@media all and (max-width: 600px) {
  .yks-nav-toggle-btn.closed {
    position: fixed;
    right: 2em;
    bottom: 2em;
    top: calc(100vh - 6em);
  } 
}
/* #endregion */

/* Opening Nav Animation */
@media all and (min-width: 600px) {
  @-webkit-keyframes example {
    from {
      opacity: 0%;
      height: 20%;
      filter: blur(1px);
    }
    to {
      opacity: 100%;
      height: calc(100% - 32px);
    }
  }
  @keyframes animateNav {
    from {
      opacity: 0%;
      height: 20%;
      filter: blur(1px);
    }
    to {
      opacity: 100%;
      height: calc(100% - 32px);
    }
  }
}
