/* Overall container */
.yks-nav-container {
    width: 100%;
    height: auto;
    /*background-color: #515932;*/
    display: flex;
    flex-direction: column;
}

/* The navigation bar on the right*/
.yks-nav-points-container {
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 1em;
}
.yks-nav-points {
    background-color: transparent;
}
.yks-nav-point {
    width: 100%;
    margin: 8px 6px;
    font-size: 24px;
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid currentColor;
}
.yks-nav-point:focus {
    outline: none;
}

/* Lines between the Navigation Points */
.yks-nav-point:not(:first-child)::before {
    content: "";
    display: block;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    height: 52px;
    width: 2px;
    margin: 0 auto;
}