.yks-portrait-container {
  margin: 3em;
  /*border: 1px solid currentColor;*/
  /*background-image: linear-gradient(120deg, #D9593D, );*/
  height: auto;
}
.yks-portrait-img-container {
  /*border: 1px solid currentColor;*/
  background-color: white;
  text-align: center;
}

.yks-portrait-img-container,
.yks-portrait-img-shadow {
  min-width: 12em;
  height: 12em;
  border-radius: 12em;
  box-shadow: 0 0 4px 2px inset rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
}
.yks-portrait-img-shadow {
  position: relative;
  margin-top: -12em;
  z-index: 2;
}

.yks-portrait {
  display: block;
  position: relative;
  z-index: 0;
  width: 12em;
  height: 12em;
}
