.yks-portrait-container {
    margin: 3em;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid gray;
    height: auto;
}

.yks-portrait-container > *:not(:first-child) {
    margin-top: 1em;
}

.yks-portrait-img-container, .yks-portrait-img-shadow {
    width: 12em;
    height: 12em;
    border-radius: 12em;
    box-shadow: 0 0 4px 2px inset rgba(0,0,0,0.1);
    z-index: 1;
    overflow: hidden;
}
.yks-portrait-img-shadow {
    margin-top: -12em;
    z-index: 2;
}

.yks-portrait {
    position: relative;
    z-index: 0;
    width: 12em;
    height: 12em;
}