.portrait-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}
@media all and (min-width: 0) {
    .portrait-title .main-title {
        margin: 0;
        font-size: 44px;
    }
}
@media all and (min-width: 1124) {
    .portrait-title {
        width: 75%;
    }
}